/* first level */
ul.menu {
	float: left;
	height: 100%;
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

ul.menu li {
	position: relative;
	float: left;
	font-weight: bold;
	line-height: 1.1;
}

ul.menu li a {
	display: block;
	width: auto;
	padding: 10px;
	text-decoration: none;
	color: #2b2b2b;
	background: url("/images/bg-nav-sep.png") no-repeat scroll right 2px transparent;
}

ul.menu li.last a {
	background: transparent;
}

ul.menu li a.sub {
	padding-right: 15px;
	background: url("/images/bg-nav-sep.png") no-repeat scroll right -30px transparent;
}
	

ul.menu li:hover,
ul.menu li.hover /* protofish */ {
}

ul.menu li:hover a,
ul.menu li.hover /* protofish */ a {
	color: #e75c3f;
}

ul.menu li.active {
	color: #f15c30;
}

ul.menu li.active a {
	color: #f15c30;
}

/* second level */
ul.menu ul {
	padding: 0;
	margin: 0;
	margin-top:1px;
	list-style: none;
	top: 32px;
	width: 100px;
}

/* resetting first level */
ul.menu ul ul {
	
}

ul.menu li:hover li,
ul.menu li:hover li a,
ul.menu li.hover /* protofish */ li,
ul.menu li.hover /* protofish */ li a {
	background-color: #E5ECF9;
	color: #2b2b2b;
}

/* submenu markup */
ul.menu li li {
	width: 100%;
	border-left: 2px solid #284dc0;
	border-right: 2px solid #284dc0;
}

ul.menu li li.last {
	border-bottom: 2px solid #284dc0;
}

ul.menu li li a {
	padding: 5px 5px 5px 10px;
}

ul.menu li:hover li:hover a,
ul.menu li.hover li.hover /* protofish */ a {
	background: white;
	color: #e84729;
}

ul.menu li:hover li.active a,
ul.menu li.hover /* protofish */ li.active a {
	color: #f15c30;
}

ul.menu li li a.sub {
	padding-right: 15px;
}

ul.menu li:hover li:hover a.sub,
ul.menu li.hover li.hover /* protofish */ a.sub {
}

/* third level */
/* resetting second level */
ul.menu ul ul{
	top: -1px;
	margin-left: 169px;
}

ul.menu li:hover li:hover li,
ul.menu li:hover li:hover li a, {
ul.menu li.hover li.hover /* protofish */ li,
ul.menu li.hover li.hover /* protofish */ li a
	color: #7c7c7c;
}

/* subsubmenu markup */
ul.menu li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover /* protofish */ a {
	background: #e6e6e6;
	color: #000;
}

ul.menu li:hover li:hover li.active a,
ul.menu li.hover li.hover /* protofish */ li.active a {
	color: #f15c30;
}

ul.menu li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover /* protofish */ a.sub {
}

/* fourth level */
/* resetting second level */
ul.menu li:hover li:hover li:hover li,
ul.menu li:hover li:hover li:hover li a,
ul.menu li.hover li.hover li.hover /* protofish */ li,
ul.menu li.hover li.hover li.hover /* protofish */ li a {
	color: #7c7c7c;
}

/* subsubmenu markup */
ul.menu li:hover li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover li.hover /* protofish */ a {
	background: #ccc;
	color: #000;
}

ul.menu li:hover li:hover li:hover li.active a,
ul.menu li.hover li.hover li.hover /* protofish */ li.active a {
	color: #f15c30;
}

ul.menu li:hover li:hover li:hover li a.sub,
ul.menu li.hover li.hover li.hover /* protofish */ li a.sub {
	background: #e6e6e6;
}

ul.menu li:hover li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover li.hover /* protofish */ a.sub {
	background: #ccc;
}

/* hiding fifth level */
div#nav ul ul ul ul ul {
	display: none;
}

/* show hide behaviour */
ul.menu ul,
ul.menu li:hover ul ul,
ul.menu ul ul,
ul.menu li:hover ul ul ul,
ul.menu ul ul ul,
ul.menu li:hover ul ul ul ul {
	position: absolute;
	left: -999em;
}

ul.menu li:hover ul,
ul.menu li li:hover ul,
ul.menu li li li:hover ul,
ul.menu li li li li:hover ul {
	left: -1px;
	z-index: 999;
}

/* show hide behaviour with protofish */
ul.menu li.hover ul ul,
ul.menu li.hover ul ul ul,
ul.menu li.hover ul ul ul ul {
	position: absolute;
	left: -999em;
}

ul.menu li.hover ul,
ul.menu li li.hover ul,
ul.menu li li li.hover ul,
ul.menu li li li li.hover ul {
	left: -1px;
	z-index: 999;
}